n8n/espo-task-created-slack-notify.json
{
  "name": "EspoCRM Task Created → Slack Notify",
  "nodes": [
    {
      "id": "webhook-in",
      "name": "EspoCRM Service Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "espo-task-created",
      "parameters": {
        "httpMethod": "POST",
        "path": "espo-task-created",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "validate",
      "name": "Validate & Parse Service Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        304
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst headers = item.json.headers || {};\nconst body = item.json.body || {};\n\nconst expected = $env.SERVICE_WEBHOOK_SECRET || '';\nconst got = headers['x-service-webhook-secret'] || '';\nif (expected && got !== expected) {\n  throw new Error('Invalid X-Service-Webhook-Secret');\n}\n\nconst t = body.task || {};\nconst taskId = t.id || body.taskId || '';\nif (!taskId) { throw new Error('No task.id in service webhook payload'); }\n\nreturn [{ json: {\n  eventType: body.eventType || '',\n  taskId: taskId,\n  name: t.name || '(untitled task)',\n  status: t.status || '',\n  previousStatus: t.previousStatus || '',\n  priority: t.urgency || t.priority || 'Normal',\n  assignedUserId: t.assignedUserId || '',\n  assignedUserName: t.assignedUserName || '',\n  dateDue: t.dateDue || t.slaDueDate || '',\n  parentType: t.parentType || '',\n  parentName: t.parentName || '',\n  accountName: t.accountName || '',\n  contactName: t.contactName || '',\n  taskType: t.taskType || ''\n} }];"
      }
    },
    {
      "id": "lookup",
      "name": "Lookup Owner Slack ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "tikI01sEGK9a9mw7",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT slack_user_id FROM public.slack_user_map WHERE espo_user_id = $1 LIMIT 1) AS slack_user_id;",
        "options": {
          "queryReplacement": "={{ $json.assignedUserId || '' }}"
        }
      }
    },
    {
      "id": "build",
      "name": "Build Block Kit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        304
      ],
      "parameters": {
        "jsCode": "const ev = $('Validate & Parse Service Event').first().json;\nconst lk = $input.first() ? ($input.first().json || {}) : {};\nconst slackUserId = lk.slack_user_id || null;\nconst fallback = $env.TASK_NOTIFY_FALLBACK_CHANNEL || 'C0AUP125PRU';\nconst channel = slackUserId || fallback;\n\nconst metaMap = {\n  'service.task_started': { emoji: '🔵', title: 'Task In Progress' },\n  'service.request_to_client': { emoji: '⏳', title: 'Waiting on Client' },\n  'service.task_completed': { emoji: '✅', title: 'Task Completed' }\n};\nconst meta = metaMap[ev.eventType] || { emoji: '📋', title: 'Task Update' };\nconst prMap = { Urgent: '🔴', High: '🟠', Normal: '🟡', Low: '⚪' };\nconst pe = prMap[ev.priority] || '🟡';\n\nlet due = '_Not set_';\nif (ev.dateDue) {\n  const ms = Date.parse(ev.dateDue.length <= 10 ? ev.dateDue + 'T00:00:00Z' : ev.dateDue);\n  due = isNaN(ms) ? ev.dateDue : ('<!date^' + Math.floor(ms/1000) + '^{date_short}|' + ev.dateDue + '>');\n}\nconst related = ev.accountName || ev.contactName || (ev.parentName ? (ev.parentType + ': ' + ev.parentName) : '_None_');\nconst assignee = slackUserId ? ('<@' + slackUserId + '>') : (ev.assignedUserName || '_Unassigned_');\nconst text = meta.emoji + ' ' + meta.title + ': ' + ev.name;\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: meta.emoji + ' ' + meta.title, emoji: true } },\n  { type: 'section', fields: [\n    { type: 'mrkdwn', text: '*Task:*\\n' + ev.name },\n    { type: 'mrkdwn', text: '*Status:*\\n' + (ev.status || meta.title) },\n    { type: 'mrkdwn', text: '*Priority:*\\n' + pe + ' ' + ev.priority },\n    { type: 'mrkdwn', text: '*Due:*\\n' + due }\n  ]},\n  { type: 'section', fields: [\n    { type: 'mrkdwn', text: '*Assigned To:*\\n' + assignee },\n    { type: 'mrkdwn', text: '*Related:*\\n' + related }\n  ]},\n  { type: 'actions', elements: [\n    { type: 'button', text: { type: 'plain_text', text: '✅ Acknowledge', emoji: true }, style: 'primary', action_id: 'task_acknowledge', value: JSON.stringify({ taskId: ev.taskId, assignedUserId: ev.assignedUserId }) },\n    { type: 'button', text: { type: 'plain_text', text: '🔗 Open in CRM', emoji: true }, url: 'https://rrespocrm-rsg-u69864.vm.elestio.app/#Task/view/' + ev.taskId }\n  ]}\n];\nreturn [{ json: { channel: channel, text: text, blocks: blocks, taskId: ev.taskId, assignedUserId: ev.assignedUserId } }];"
      }
    },
    {
      "id": "slackpost",
      "name": "Slack chat.postMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OeM6evf9MMppmh7d",
          "name": "Slack_bot_token (agency_assistant)"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, blocks: $json.blocks }) }}",
        "options": {}
      }
    },
    {
      "id": "audit",
      "name": "Audit: notified",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1340,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "tikI01sEGK9a9mw7",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.task_notify_audit (task_id, espo_user_id, slack_channel, slack_ts, event, payload) VALUES ($1, $2, $3, $4, 'notified', $5::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('Build Block Kit').first().json.taskId, $('Build Block Kit').first().json.assignedUserId, ($json.channel || $('Build Block Kit').first().json.channel), ($json.ts || ''), JSON.stringify($json) ] }}"
        }
      }
    }
  ],
  "connections": {
    "EspoCRM Service Webhook": {
      "main": [
        [
          {
            "node": "Validate & Parse Service Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Parse Service Event": {
      "main": [
        [
          {
            "node": "Lookup Owner Slack ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Owner Slack ID": {
      "main": [
        [
          {
            "node": "Build Block Kit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Block Kit": {
      "main": [
        [
          {
            "node": "Slack chat.postMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack chat.postMessage": {
      "main": [
        [
          {
            "node": "Audit: notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "active": false,
  "pinData": {}
}